<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	>
	<testsuites>
		<testsuite name="default">
			<directory prefix="Test_" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
